
.digito{
	width: 70px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #141414;
	border: 1px solid #1f1f1f;
	border-radius: 6px;

	color: #f2f2f2;
	font-size: 52px;
	font-weight: 700;
	font-family: "Courier New", monospace;

	box-shadow: inset 0 0 18px rgba(255,255,255,.06);
}
